{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1 class="h1">Добро пожаловать на главную страницу!</h1>
    <ul class="sport__list">
        <li class="sport__item">
            <a class="sport__link" href="players" >Все игроки</a>
        </li>
        <li class="sport__item event__item allEvents">
            <a class="sport__link event__link" href='events' >Все мероприятия и новости</a>
        </li>
        <li class="sport__item">
            <a class="sport__link" href='couches' >Все тренеры</a>
        </li>
    </ul>
{% endblock %}