{% extends 'authentication/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Логин</h2>
<form method="POST" class="login__form login form">
    {% csrf_token %}
    <div class="form__item">
        <label for="email">Email</label>
        {{ form.email }}
    </div>
    <div class="form__item">
        <label for="password">Пароль</label>
        {{ form.password }}
    </div>
    <div class="form__item">
        <button type="submit">Войти</button>
    </div>
</form>
<p class="error">
    {{ error }}
</p>
<div class="form__item login__register">
    <p class='login__text'>Нет аккаунта?</p>
    <a class="login__link" href="{% url 'register' %}">Создать</a>
</div>
{% endblock %}