{% extends 'authentication/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST" class="register__form register form">
    {% csrf_token %}
    <div class="form__item">
        <label for="email" >Email</label>
        {{ form.email }}
    </div>
    <div class="form__item">
        <label for="first_name">Имя</label>
        {{ form.first_name }}
    </div>
    <div class="form__item">
        <label for="last_name">Фамилия</label>
        {{ form.last_name }}
    </div>
    <div class="form__item">
        <label for="bio">О себе</label>
        {{ form.bio }}
    </div>
    <div class="form__item">
        <label for="password">Пароль</label>
        {{ form.password }}
    </div>
    <div class="form__item">
        <button class="register__button" type="submit">Зарегистрироваться</button>
    </div>
</form>
<p class="error">
    {{ error }}
</p>
{% endblock %}