{% extends 'authentication/base.html' %}

{% block title %}
Удаление тренера
{% endblock %}

{% block content %}
<h2>Вы точно хотите удалить тренера {{ couch.last_name }}?</h2>
<form method="POST" class="register__form register form">
    {% csrf_token %}
    <div class="form__item">
        <button class="form__button" type="submit">Удалить</button>
    </div>
</form>
<p class="error">
    {{ error }}
</p>
{% endblock %}