{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}
{{couch.last_name}}
{% endblock %}

{% block content %}
<div class="couches__block">
    <h3>{{ couch.first_name }} {{ couch.last_name }}</h3>
    <p>{{ couch.bio }}</p>
    <p>Дата рождения: {{ couch.date_of_birth }}</p>
</div>
<div class="buttons__wrapper">
    <a class="couch__delete" href={% url 'couches-delete' couch.id %}>Удалить</a>
    <a class="couch__update" href={% url 'couches-update' couch.id %}>Редактировать</a>
</div>
{% endblock %}