{% extends 'authentication/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Тренеры</h2>
<div class="couches">
    {% for el in couches %}
    <div class="couches__block">
        <h3>{{ el.first_name }} {{ el.last_name }}</h3>
        <a class="couches__link" href={% url 'couches-detail' el.id %}>Узнать подробнее о тренере</a>
    </div>
    {% endfor %}
</div>
<a class="couch__create" href={% url 'create' %}>Добавить тренера</a>
{% endblock %}