*::before,
*::after,
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
}

main {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    padding-top: 13px;
    min-height: 10vh;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    min-height: 13vh;
    align-items: center;
}

.footer__wrapper, .header__wrapper {
    background-color: #4890ce;
    color: white;
}

.footer > h2 {
    margin-bottom: 0;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.nav__item {
    align-self: center;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.login, .register, .form {
    display: flex;
    flex-direction: column;
}

.mospolytech {
    width: 220px;
    align-self: center;
}

.form__item, .form__item {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.login__register {
    flex-direction: row;
    margin-bottom: 0px;
}

.login__text {
    margin-right: 5px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 5vh;
}

a {
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 24px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 5px 12px 5px 12px;
    border-radius: 10px;
    border: 1px solid black;
}

.error {
    color: red;
    font-size: 24px;
    margin-bottom: 2vh;
}

button {
    background-color: #75a455;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 12px 5px 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.sport__list {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sport__item {
    margin-right: 35px;
}

.sport__item:last-of-type {
    margin-right: 0px;
}

.event__item {
    margin-left: 20px;
    margin-right: 55px;
}

.event__link {
    font-size: 26px;
    color: #75a455;
    font-weight: 600;
}

.login__text {
    align-self: center;
}

.login__link {
    font-size: 17px;
    color: darkblue;
}

.register__button {
    margin-top: 15px;
}

.players, .couches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.players__block, .couches__block {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 2vh;
    padding: 10px 15px 10px 15px;
    max-width: 45vw;
    min-height: 10vh;
    text-align: center;
}

.players__block > p, h3 {
    margin-bottom: 5px;
}

.couches__block > p, h3 {
    margin-bottom: 5px;
}

.players__link, .couches__link {
    font-size: 16px;
}

.player__create, .couch__create {
    margin-bottom: 3vh;
}

.player__delete, .couch__delete {
    color: red;
    margin-right: 40px;
}

.player__update, .couch__update {
    color: blue;
}

.read {
    font-size: 14px;
}

.read--blue {
    color: blue;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

@media (max-width: 821px){
    .h1 {
        font-size: 24px;
        max-width: 322px;;
    }

    .sport__item {
        margin-right: 0px;;
    }

    .mospolytech {
        display: none;
    }
}

@media (min-width: 2500px) {
    .mospolytech {
        width: 250px;
    }

    .nav__link {
        font-size: 26px;
    }

    h3 {
        font-size: 28px;
    }

    h2 {
        font-size: 36px;
    }

    .couches__link, .players__link {
        font-size: 22px;
    }

    .couch__create {
        font-size: 28px;
    }

    .name {
        font-size: 30px;
    }

    .players__block > p {
        font-size: 26px;
    }

    .player__delete, .player__update {
        font-size: 26px;
    }

    .form__item > input, textarea {
        font-size: 24px;
    }

    .form__item > textarea {
        width: 500px !important;
    }

    .form__button {
        font-size: 24px;
    }

    .form__item > label {
        font-size: 24px;
    }

    .sport__link {
        font-size: 26px;
    }

    .login__text {
        font-size: 24px;
    }

    .login__link {
        font-size: 26px;
    }

    .form__item > button {
        font-size: 24px;
    }

    .players__block > a {
        font-size: 22px;
    }

    .read {
        font-size: 22px;
    }
}