{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% for el in results %}
<div class="players__block">
    <p>
        {{el.title}}
    </p>
    <p>
        {{el.description}}
    </p>
    
</div>
{% endfor %}
{% endblock %}