{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}
{{player.last_name}}
{% endblock %}

{% block content %}
<div class="players__block">
    <h3>{{ player.first_name }} {{ player.last_name }}</h3>
    <p>{{ player.bio }}</p>
    <p>Дата рождения: {{ player.date_of_birth }}</p>
</div>
<div class="buttons__wrapper">
    <a class="player__delete" href={% url 'players-delete' player.id %}>Удалить</a>
    <a class="player__update" href={% url 'players-update' player.id %}>Редактировать</a>
</div>
{% endblock %}