{% extends 'authentication/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Игроки</h2>
<div class="players">
    {% for el in players %}
    <div class="players__block">
        <h3>{{ el.first_name }} {{ el.last_name }}</h3>
        <a class="players__link" href={% url 'players-detail' el.id %}>Узнать подробнее об игроке</a>
    </div>
    {% endfor %}
</div>
<a class="player__create" href={% url 'create' %}>Добавить игрока</a>
{% endblock %}