{% extends 'authentication/base.html' %}

{% block title %}
Редактировать игрока
{% endblock %}

{% block content %}
<h2>Редактировать игрока</h2>
<form method="POST" class="register__form register form">
    {% csrf_token %}
    <div class="form__item">
        <label for="first_name">Имя</label>
        {{ form.first_name }}
    </div>
    <div class="form__item">
        <label for="last_name">Фамилия</label>
        {{ form.last_name }}
    </div>
    <div class="form__item">
        <label for="bio">О себе</label>
        {{ form.bio }}
    </div>
    <div class="form__item">
        <label for="dob">Дата рождения</label>
        {{ form.date_of_birth }}
    </div>
    <div class="form__item">
        <button class="form__button" type="submit">Редактировать</button>
    </div>
</form>
<p class="error">
    {{ error }}
</p>
{% endblock %}