{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}
{{event.title}}
{% endblock %}

{% block content %}
<div class="players__block">
    <h3>
        {{ event.title }}
    </h3>
    <p>
        {{ event.description }}
    </p>
    <p>
        {{ event.team }}
    </p>
    <p>
        {{ event.result }}
        <a class="read read--blue" href='/result'>Подробнее про результат</a>
    </p>
    <p>
        {{ event.reward }}
        <a class="read read--blue" href="/reward">Подробнее про награду</a>
    </p>
</div>
{% endblock %}