{% extends 'authentication/base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% for el in events %}
<div class="players__block">
    <p>{{el.title}}</p>
    <a class="read" href={% url 'events-detail' el.id %}>Читать подробнее</a>
</div>
{% endfor %}
{% endblock %}